@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: url(fonts/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Outfit-Light.ttf);
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Outfit-Medium.ttf);
}

body {
    background-color: #0d1a2d;
}

.container {
    background-color: #16263f;
    width: 275px;
    border-radius: 15px;
    align-items: center;
}

.ADA {
    padding: 15px;
}

.mainpic {
    width: 100%;
    width: 245px;
    height: 225px;
    background-color: #004a81;
    border-radius: 15px;
    
}

.avatarpic {
    width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
}

.text-main {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit';
    font-weight: 600;
    
}

.text-desc {
    color:#899dc0;
    font-family: 'Outfit';
    font-weight: 300;
}

.text-price {
    color:#0ffffb;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 12px;
    padding-left: 7px;
}

.ETH {
    width: 100%;
    width: 12px;
    height: 18px;

}

.text-time {
    color:#899dc0;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 12px;
    padding-left: 7px;
}

.clock {
    width: 100%;
    width: 18px;
    height: 18px;

}

.text-avtor {
    color:#899dc0;
    font-family: 'Outfit';
    font-weight: 300;
    padding-left: 15px;
}

.color-text {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit';
    font-weight: 300;
}

.line {
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.ADATA {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 77px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-top: 5px;
    
}

.time {
    display: flex;
    align-items: center;
    justify-content: end;

}

.price {
    display: flex;
    align-items: center;
    justify-content: baseline;
}